html{
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    height: 100%;
    width: 100%
}

body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: white;
}


a {
    text-decoration: none;
    color:#504949;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    margin: 20px; 
}

ul.right{
    float: right;
}

img#Gapps {
    width: 25px;
    height:25px;
}

a#account-initial {
    display: inline-block;
    background-color: #01579b;
    color: white;
    padding: 10px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    font-size: 17px;
    text-align: center;
    margin-top: -5px;
}

a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-left: 100px;
    text-align: center;
}

form input {
    border: none;
    width: auto;
    padding: 12px;
    flex-grow: 2;
    border-radius: 25px;
}

#search-wrapper {
    width: 600px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: #f2f2f2;
    border-radius: 25px;
    border-width: 2px;
    margin: 25px;
}

#search-wrapper:hover {
    box-shadow: 0px 0px 5px 2px #f2f2f2ab;
}

#mglass {
    height: 15px;
    width: 15px;
    padding-left: 15px;
}

button {
    margin: 5px;
    padding: 10px;
    background-color: #f2f2f2;
    border: thin;
    color: #5f6368;
    border-radius: 3px;
}

button:hover {
    color: black;
    border: thin;
    border-width: 5px;
    border-color: #f2f2f2;
    box-shadow: 0px 0px 5px 2px #f2f2f2ab;
}

#information ul {
    background-color: #f2f2f2;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
}

span#right *{
    float: right;
    padding-right: 20px;
    padding-bottom: 5px;
    color: #5f6368
}

span#left *{
    padding-left: 20px;
    color: #5f6368
}

#location {
    padding-left: 20px;
    margin: 0px;
    color: #5f6368;
}